<div class="header-inner">
  <a href="/" class="site-logo">
    <span class="logo-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/></svg>
    </span>
    <span>Uganda Verified</span>
  </a>
  {{- with index site.Menus "main" }}
  <nav aria-label="Main navigation">
    <ul>
      {{- range . }}
      <li{{ if eq .Name "Get Verified" }} class="nav-cta"{{ end }}>
        <a href="{{ .URL }}"{{ if $.IsMenuCurrent .Menu . }} class="active" aria-current="page"{{ else if $.HasMenuCurrent .Menu . }} class="active"{{ end }}>{{ .Name }}</a>
      </li>
      {{- end }}
    </ul>
  </nav>
  {{- end }}
</div>
